.button {
	padding: 6px 12px;
	border: none;
	color: #fff;
	background-color: rgb(51, 51, 173);
	cursor: pointer;
	transition: background-color 0.3s;
	width: fit-content;
	border-radius: 5px;
}

.button:hover {
	background-color: rgba(42, 42, 135, 0.91);
}

@media (min-width: 768px) {
	.button {
		width: clamp(100px, 100%, 150px);
		padding: 10px 20px;
		font-size: 16px;
	}
}
